Repository Cod3dDOT/cod3d.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, tsc-files --pretty --noEmit

.lintstagedrc.json:

{
	"*.{js,ts,tsx}": ["prettier --check", "tsc-files --pretty --noEmit"],
	"*.css": "prettier --check"
}

fix(lint): import sort
  src/app/(pages)/thoughts/[slug]/opengraph-image.tsx
Due: prettier --check, tsc-files --pretty --noEmit

fix(useTableOfContents): allow to specify container
  src/app/(pages)/thoughts/[slug]/(components)/toc/desktop.tsx
  src/lib/hooks/useTableOfContents.ts
Due: prettier --check, tsc-files --pretty --noEmit

feat(thoughts): fixes and animated heros
  bun.lock
  commitlint.config.ts
  package.json
  src/app/(pages)/thoughts/[slug]/(components)/header/image.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/image.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/wrapper.tsx
  src/components/footer/index.tsx
  src/lib/utils/mons.ts
  src/styles/markdown.css
Due: prettier --check, tsc-files --pretty --noEmit

fix(style): use dvh units when available to account for mobile navbars
  src/app/(pages)/page.tsx
  src/styles/tailwind.css
Due: prettier --check, tsc-files --pretty --noEmit

fix(style): attempt #999 to fix home page scrolling on mobile
  src/app/(pages)/page.tsx
Due: prettier --check, tsc-files --pretty --noEmit

fix(style): last one i promise
  src/styles/global.css
Due: prettier --check

feat(markdown): a bunch of readability improvements
  src/app/(pages)/thoughts/[slug]/(components)/header/image.tsx
  src/app/(pages)/thoughts/[slug]/(components)/header/index.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/wrapper.tsx
  src/components/footer/index.tsx
  src/components/navigation/contact/link.tsx
  src/components/navigation/projects/project/index.tsx
  src/components/navigation/thoughts/carousel.tsx
  src/lib/markdown/readingTime.ts
  src/styles/markdown.css
  src/styles/root.css
Due: prettier --check, tsc-files --pretty --noEmit

fix(footer): padding fixes
  src/app/(pages)/thoughts/[slug]/page.tsx
  src/components/footer/index.tsx
  src/lib/utils/mons.ts
Due: prettier --check, tsc-files --pretty --noEmit

fix(footer): spacing
  REUSE.toml
  public/fonts/opengraph/GeistMono-Regular-1.3.ttf
  public/xsl/rss.xsl
  src/app/(pages)/thoughts/[slug]/opengraph-image.tsx
  src/components/footer/index.tsx
Due: prettier --check, tsc-files --pretty --noEmit

fix(style): update deps, fix rss.xsl improper license header position, lint
  biome.json
  bun.lock
  package.json
  public/xsl/rss.xsl
  public/xsl/styles.css
  scripts/generate-pokemons.ts
  scripts/utils/color-utils.ts
  src/app/(pages)/(components)/syncedRotationWrapper.tsx
  src/app/(pages)/page.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/code.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/image.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/wrapper.tsx
  src/app/(pages)/thoughts/[slug]/(components)/toc/desktop.tsx
  src/app/(pages)/thoughts/[slug]/download/route.ts
  src/app/(pages)/thoughts/[slug]/opengraph-image.tsx
  src/app/providers.tsx
  src/components/footer/index.tsx
  src/components/navigation/common/container.tsx
  src/components/navigation/contact/index.tsx
  src/components/navigation/contact/link.tsx
  src/components/navigation/thoughts/carousel.tsx
  src/lib/hooks/useTransform.tsx
  src/lib/markdown/index.ts
  src/lib/markdown/pluginRehypeFixes.ts
  src/lib/utils/crypto.ts
  src/lib/utils/mons.ts
  src/pocketbase/req.ts
Due: prettier --check, tsc-files --pretty --noEmit

fix(style): fix code block props type
  scripts/utils/color-utils.ts
  src/app/(pages)/thoughts/[slug]/(components)/markdown/code.tsx
Due: prettier --check, tsc-files --pretty --noEmit

feat(nav): thoughts carousel (chrome 135+)
  REUSE.toml
  biome.jsonc
  bun.lock
  next.config.ts
  package.json
  src/app/(pages)/thoughts/[slug]/(components)/markdown/code.tsx
  src/app/(pages)/thoughts/[slug]/opengraph-image.tsx
  src/components/navigation/contact/link.tsx
  src/components/navigation/thoughts/carousel.tsx
  src/styles/global.css
Due: prettier --check, tsc-files --pretty --noEmit

fix(nav): carousel markers invalid css
  src/styles/global.css
Due: prettier --check

fix(theme): consolidate theme switcher styles
  public/xsl/rss.xsl
  public/xsl/styles.css
  src/app/layout.tsx
  src/components/navigation/common/desktopOpener.tsx
  src/components/navigation/common/mobileOpener.tsx
  src/components/navigation/thoughts/carousel.tsx
  src/components/themeSwitch.tsx
  src/styles/index.css
  src/styles/tailwind.css
  src/styles/theme-switch.css
Due: prettier --check, tsc-files --pretty --noEmit

feat(markdown download): remove encyrption
  bun.lock
  package.json
  src/app/(pages)/thoughts/[slug]/download/route.ts
  src/lib/utils/crypto.ts
  src/middleware.ts
Due: prettier --check, tsc-files --pretty --noEmit

feat(opennext): migrate off vercel
  .gitignore
  REUSE.toml
  bun.lock
  next.config.ts
  open-next.config.ts
  package.json
  public/_headers
  wrangler.jsonc
Due: prettier --check, tsc-files --pretty --noEmit

fix(env): remove unused var
  .env.example
  env.d.ts
Due: prettier --check, tsc-files --pretty --noEmit

fix(cloudflare): testing stuff
  open-next.config.ts
  wrangler.jsonc
Due: prettier --check, tsc-files --pretty --noEmit

fix(hsts): use cloudflare's hsts
  next.config.ts
Due: prettier --check, tsc-files --pretty --noEmit

feat(readme): badges
  README.md
Due: none

fix(headers): update Access-Control-Allow-Methods
  next.config.ts
  src/app/layout.tsx
Due: prettier --check, tsc-files --pretty --noEmit

feat(/download): generate download endpoint at build time
  package.json
  src/app/(pages)/thoughts/[slug]/download/route.ts
Due: prettier --check, tsc-files --pretty --noEmit

fix(blog): fix download endpoint params
  .env.example
  README.md
  env.d.ts
  src/app/(pages)/thoughts/[slug]/download/route.ts
  src/app/layout.tsx
Due: prettier --check, tsc-files --pretty --noEmit

feat(analytics): track download events
  .vscode/settings.json
  next.config.ts
  src/app/(pages)/thoughts/[slug]/(components)/header/index.tsx
Due: prettier --check, tsc-files --pretty --noEmit

fix(thoughts): improper slug verification
  next.config.ts
  src/app/(pages)/thoughts/[slug]/download/route.ts
Due: prettier --check, tsc-files --pretty --noEmit

fix(docs): move github readme header into docs/
  README.md
  REUSE.toml
  docs/github-header.gif
  public/img/readme-nibblet.gif
  public/img/readme-rich_thumbnail_uploader.gif
Due: none

chore(build): update deps
  biome.jsonc
  bun.lock
  open-next.config.ts
  package.json
  shaders.d.ts
  wrangler.jsonc
Due: prettier --check, tsc-files --pretty --noEmit

fix(build): remove preview urls (wrangler)
  wrangler.jsonc
Due: none

fix(tailwind): upgrade
  bun.lock
  package.json
  src/app/(pages)/(components)/blobs.tsx
  src/app/(pages)/thoughts/[slug]/(components)/header/image.tsx
  src/app/(pages)/thoughts/[slug]/(components)/header/index.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/code.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/image.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/wrapper.tsx
  src/app/(pages)/thoughts/[slug]/opengraph-image.tsx
  src/components/footer/index.tsx
  src/components/navigation/common/container.tsx
  src/components/navigation/common/desktopOpener.tsx
  src/components/navigation/common/mobileOpener.tsx
  src/components/navigation/contact/link.tsx
  src/components/navigation/projects/project/gridEffect.tsx
  src/components/navigation/projects/project/index.tsx
  src/components/navigation/thoughts/carousel.tsx
  src/components/navigation/thoughts/index.tsx
  src/components/themeSwitch.tsx
  src/components/tooltip.tsx
Due: prettier --check, tsc-files --pretty --noEmit

chore(deps): update
  bun.lock
  package.json
  wrangler.jsonc
Due: none

chore(twMerge): get rid of
  package.json
  src/app/(pages)/(components)/blobs.tsx
  src/app/(pages)/(components)/syncedRotationWrapper.tsx
  src/app/(pages)/thoughts/[slug]/(components)/header/dateScroll.tsx
  src/app/(pages)/thoughts/[slug]/(components)/header/image.tsx
  src/app/(pages)/thoughts/[slug]/(components)/header/index.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/code.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/copyButton.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/image.tsx
  src/app/(pages)/thoughts/[slug]/(components)/markdown/wrapper.tsx
  src/app/(pages)/thoughts/[slug]/(components)/toc/desktop.tsx
  src/app/forbidden.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/components/effects/spotlightCard.tsx
  src/components/footer/index.tsx
  src/components/icons/back.tsx
  src/components/icons/chevron.tsx
  src/components/icons/copy.tsx
  src/components/icons/github.tsx
  src/components/icons/home.tsx
  src/components/icons/mail.tsx
  src/components/icons/markdown.tsx
  src/components/icons/matrix.tsx
  src/components/icons/rss.tsx
  src/components/icons/scroll.tsx
  src/components/navigation/common/container.tsx
  src/components/navigation/common/desktopOpener.tsx
  src/components/navigation/common/mobileOpener.tsx
  src/components/navigation/contact/link.tsx
  src/components/navigation/projects/project/badge.tsx
  src/components/navigation/projects/project/gridEffect.tsx
  src/components/navigation/projects/project/index.tsx
  src/components/navigation/thoughts/carousel.tsx
  src/components/themeSwitch.tsx
  src/components/tooltip.tsx
  src/lib/utils/cn.ts
Due: prettier --check, tsc-files --pretty --noEmit

fix(analytics): update hash
  src/app/layout.tsx
Due: prettier --check, tsc-files --pretty --noEmit

chore(deps): update
  biome.jsonc
  bun.lock
  package.json
Due: none

fix(analytics): actually fix the integrity hash, oops
  src/app/layout.tsx
Due: prettier --check, tsc-files --pretty --noEmit

fix(deps): update deps cause CVE-2025-55182
  bun.lock
  package.json
Due: none

fix(nav): remove blur cause it kills firefox
  biome.json
  src/components/navigation/common/container.tsx
Due: prettier --check, tsc-files --pretty --noEmit

fix(nav): remove blur cause it kills firefox
  REUSE.toml
  src/components/navigation/common/container.tsx
Due: prettier --check, tsc-files --pretty --noEmit
